@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

:root{
    --mainColor: #0055b8;
    --lightMainColor: #aabbee;
    --gray: #808285;
    --lightray: #aeb0b3;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.mainButton{
    width: 180px;
    background: var(--mainColor);
    color: #fff;
}
button.mat-focus-indicator.loginBtn.mat-raised-button.mat-button-base.mat-button-disabled {
    background: var(--lightray);
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.mainContainer{
    min-height: calc(100vh - 64px);
    width: 100vw;
}

.container{
    padding: 5px;
    min-height: calc(100vh - 64px);
    background: #f5f5ff;

} 

.vw100{
width: 100vw;
}

mat-sidenav-content.mat-drawer-content.mat-sidenav-content.container {
    display: flex;
    justify-content: center;
}

/* tr.mat-row.cdk-row.ng-star-inserted{
background-color: var(--lightMainColor);
} */
.bgligth{
background-color: var(--lightMainColor);
}

