.tdContainer{
margin: 10px 20px;

}
.tdcontent{
    margin: 0 15px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.linkToRef{
    text-decoration: none;
    color: #000000de;
}

.container{
    width: 100vw
}

.icon{
    background-color: green;
    height: 5px;
    width: 5px;
}
.circle{
    margin-top: 5px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-left: 5px;
}

.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.purple{
    background-color: purple;
}

h1.vw100{
    color: var(--mainColor);
    font-weight: bold;
    margin: 15px 0px;
}

.headerTR{
    background-color: var(--secondaryColor);

}
.headerTxt{
    color: white;
    font-weight: bold;
}